body {
  background-color: #333;
  font-family: sans-serif;
}

h1 {
  font-size: 18px;
  font-weight: bold;
}

h3 {
  font-size: 16px;
}


}
.container {
  margin: 0 auto;
  width: 450px;
}

.arrow {
float:right; display:inline;
}

nav {
  margin: 0 auto;
  padding: 15px 0 15px 0;
  background-color: black;
  position: fixed;
  width: 450px;
}

.restaurant-list {
  padding-top: 60px;

}


.box1 {
  box-sizing: border-box;
  background-color: #dddddd;
  width: 450px;
}

.box2 {
  box-sizing: border-box;
  width: 450px;
  padding: 20px;
  border: .25px solid #000000;

}

.box2:hover {
    background: grey;
}
